<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="textoDigitado" />
      <br />
      <div v-if="textoDigitado == 1">
        <img :src="srcImg1" :title="titleImg" width="100px" />
      </div>
      <div v-else-if="textoDigitado == 2">
        <img :src="srcImg2" :title="titleImg" width="100px" />
      </div>
      <div v-else="textoDigitado == 3">
        <img :src="srcImg3" :title="titleImg" width="100px" />
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          textoDigitado: "",
          titleImg: "Logo VUE",
          srcImg1: "vuelogo1.png",
          srcImg2: "vuelogo2.png",
          srcImg3: "vuelogo3.jpeg",
        },
      });
    </script>
  </body>
</html>
