<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div v-for="imagem in imagens">
        <img :src="imagem" width="100px" />
      </div>
      
      <br />
      
      <div v-for="(fruta, index) in frutas">
        {{index}} - {{fruta.nome}} - {{fruta.cor}}
      </div>

      <br />
      <ul>
        <li v-for="(value, key, index) in usuario">
          <b>{{key}}:</b> {{value}}
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          imagens: ["vuelogo1.png", "vuelogo2.png", "vuelogo3.jpeg"],
          frutas: [
            { nome: "Pera", cor: "Verde" },
            { nome: "Uva", cor: "Roxa" },
            { nome: "Maçã", cor: "Vermelha" },
            { nome: "Mamão", cor: "Vermelha" },
          ],
          usuario: {
            nome: "Cícero",
            sobrenome: "Melo",
            telefone: "51 992765331",
            email: "ciceroam@gmail.com",
          },
        },
      });
    </script>
  </body>
</html>
